<!-- LOGIN AREA COMPONENT -->
<div class="l-section">
	<div class="l-content-container u-text--center">
		<div *ngIf="userService.isLoggedIn();else loginOptions">
			<p>User is logged in already</p>
			<button class="btn btn--transparent" (click)="getEvents()">get calender</button>			
			<button class="btn btn--transparent" (click)="logout()">Logout</button>
		</div>
		<ng-template #loginOptions>
			<a href="http://localhost:3000/auth/google" class="btn btn--primary">Login with Google</a>
			<a href="http://localhost:3000/auth/facebook" class="btn btn--primary">Login with Facebook</a>
			<button class="btn btn--transparent" (click)="userService.getAllUsers()">Get all users</button>
		</ng-template>
  	</div>
</div>
